body
{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0!important;
	background-color: #000;
	color:#000;
}
#container
{
background-color:#fff;
}
#logo
{
	padding-top:3vh;
	font-size:18vh;
	margin-left:3%;
}
#logo a
{
	font-family: 'Lato', sans-serif;
	padding:1vh 5%;
}

nav
{
	background-color: #111111;
	height:38vh;
	color:white;
	width:100%;
}
nav>ol
{
	padding:2vh 0!important;
	margin: 0!important;
	margin-bottom:5vh;
	width:50%;
	list-style-type: none;
	float:left;
}
nav>ol>li
{
	font-size:3.5vh;
	float:right;
	text-align: center;
	line-height: 150%;
	border-right: dashed #0088FF 0.1vh;
	width:20%;
	height:5vh;
}
nav>ol>li>a
{
	padding:1.5vh 20%;
	text-align: center;
}
nav>ol>li>a:hover
{
	color:#0088FF;
}
nav>ol>li:first-child
{	
	margin-right:5%;
	border-right: none;
}
.photo
{
	background: url("logo.jpg");
	background-repeat: no-repeat; 
	background-size: cover;	
	height:62vh;
	width:100%;
}
section
{
	font-size: 2.9vh;
	margin:0 3%;
}
p
{	
	text-align:justify;
}
h3
{
	color:#0088FF;
	text-align:center;
	font-size:4.5vh;
}

#footer
{
	border-top: 0.1vh solid #0088FF;	
	background-color:#111111;
	padding:0.8vh;
	padding-left:3%;
	font-size: 2.5vh;
	height:32vh;
	color:white;
}
#footer>nav
{
	margin-top:3vh;
	height:8vh;
	color:white;
	width:100%;
	margin:0;
}
#footer>nav>ol
{
	margin-bottom:5vh;
	width:38%;
	list-style-type: none;
	float:right;
}
#footer>nav>ol>li
{
	font-size: 2.5vh;
	float:right;
	text-align: center;
	line-height: 180%;
	border-right: dashed #0088FF 0.1vh;
	width:20%;
	height:5vh;
}
#footer>nav>ol>li>a
{
	padding:1.5vh 20%;
	text-align: center;
}
#footer>nav>ol>li>a:hover
{
	color:#0088FF;
}
#footer>nav>ol>li:first-child
{	
	margin-right:5%;
	border-right: none;
}
a:visited
{
	color:white;
	text-decoration: none;
}
a:hover
{
	color:white;
	text-decoration: none;
}
a:link
{	color:white;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
}
a:hover
{
	color:white;
	text-decoration: none;
}
a:link
{	color:white;
	text-decoration: none;
}